/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$yellow: #FFD205;
$yellowDark: #E2BA06;
$blueDark: #2A3036;
$grey: #E0DFD5;
$greyLight: #F8F9FA;
$onyx: #1A171B;
$onyx-light: #413C42;
$aperol-dark: #BE360F;
$aperol: #E64415;
$aperol-transparent: rgba(230, 68, 21, 0.8); 
$aperol-light: #E37D60;
$morning-dark: #686969;
$morning: #9C9E9F;
$morning-light: #C0C5C7;
