/* =============
    Mixins
============= */
/* ---------------- Font Sizing ---------------- */
html {
  font-size: 100%;
}

/* ---------------- Media Queries ---------------- */
/* =============
    Variables
============= */
body {
  margin: 0;
  padding: 0;
}
body header {
  margin: 0;
  padding: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body ul h1, body ul h2, body ul h3, body ul h4, body ul h5, body ul h6 {
  margin: 0;
  padding: 0;
}
body ul p {
  margin: 0;
  padding: 0;
}
body .title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}
@media (min-width: 768px) {
  body .title {
    font-size: 2.1875rem;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-weight: 300;
}

.orangebutton {
  color: white;
  background-color: #E64415;
  border-radius: 0;
  border: none;
  font-family: sans-serif;
  font-size: 1.1875rem;
  padding: 10px 22px;
}

.clalendar-button {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: transparent;
  color: #E64415;
  border: 4px solid #E64415;
  font-family: sans-serif;
  font-size: 2.1875rem;
  font-weight: 900;
}

.clalendar-button1 {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: transparent;
  color: #9C9E9F;
  border: 4px solid #9C9E9F;
  font-family: sans-serif;
  font-size: 2.1875rem;
  font-weight: 900;
}

@media (min-width: 1024px) {
  #nav-container ul {
    display: flex;
    justify-content: flex-end;
  }
}
#nav-container ul li {
  margin-bottom: 20px;
  text-align: right;
}
@media (min-width: 1024px) {
  #nav-container ul li {
    align-items: center;
    display: flex;
    margin-bottom: 0px;
  }
}
#nav-container ul li a:link,
#nav-container ul li a:visited {
  color: #1A171B;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18;
  border-bottom: 4px solid #E64415;
  margin: 0 20px;
  text-decoration: none;
  transition: 0.25s;
}
#nav-container ul li:last-child {
  border: none;
}

header {
  height: 95px;
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 16px 0 0;
}
@media (min-width: 768px) {
  header {
    height: 126px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 175px;
  }
}
@media (min-width: 1200px) {
  header {
    height: 187px;
  }
}
header > div {
  display: grid;
  grid-template-areas: "logo burger" "nav nav";
  grid-template-columns: 20% auto;
}
@media (min-width: 1024px) {
  header > div {
    grid-template-areas: "logo nav";
    grid-template-columns: 20% auto;
  }
}
header > div #logo-container {
  grid-area: logo;
}
header > div #logo-container a:link, header > div #logo-container a:visited {
  transition: 0.25s;
  cursor: pointer;
}
header > div #burger-container {
  align-items: center;
  display: flex;
  grid-area: burger;
  padding: 10px;
}
@media (min-width: 1024px) {
  header > div #burger-container {
    display: none !important;
  }
}
header > div #burger-container i {
  margin-left: auto;
  cursor: pointer;
  font-size: 1.875rem;
}
header > div #nav-container {
  border: 1px solid blue;
  display: none;
  grid-area: nav;
}
@media (min-width: 1024px) {
  header > div #nav-container {
    display: block !important;
    align-content: flex-end;
  }
}

footer {
  background-color: #D8D8D8;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer aside {
  position: cover;
}
footer article ul {
  display: flex;
  gap: 10px;
}
footer article p {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

#hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/images/hero.jpg");
  width: 100%;
}
@media (min-width: 768px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#hero > div {
  display: none;
}
@media (min-width: 768px) {
  #hero > div {
    display: inline-block;
    background-color: rgba(230, 68, 21, 0.8);
    color: #fff;
    padding: 20px;
    width: 40vw;
  }
}
#hero p {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 1.5625rem;
}
@media (min-width: 1024px) {
  #hero p {
    font-size: 1.875rem;
  }
}
#hero #mobile {
  margin-top: -50px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 1.5625rem;
}
@media (min-width: 768px) {
  #hero #mobile {
    display: none;
  }
}

#search {
  background-color: #D8D8D8;
  margin-top: 96px;
  width: 100%;
}
#search > div {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". header .";
  grid-area: header;
  display: flex;
  height: 7vh;
}
#search > div section {
  margin-left: auto;
  display: flex;
  align-items: center;
}
#search > div section button {
  border: none;
  color: #1A171B;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: #D8D8D8;
}
#search > div section #fr {
  border-right: 1px solid #1A171B;
}
#search > div section #mg {
  display: none;
}
@media (min-width: 768px) {
  #search > div section #mg {
    display: block;
    color: #1A171B;
  }
}

#howtogethere {
  display: grid;
  grid-template-columns: 24px auto 24px;
  grid-template-areas: ". how .";
}
#howtogethere h1 {
  grid-area: how;
  font: RobotoCondensed;
  font-weight: 900;
  color: #1A171B;
  text-align: left;
}
#howtogethere article {
  grid-area: how;
}
#partners ul #main img {
  width: 235px;
  height: 100px;
}
@media (min-width: 768px) {
  #partners ul #main {
    display: none;
  }
}
#partners ul .main-2 {
  display: none;
}
@media (min-width: 768px) {
  #partners ul .main-2 {
    display: inline;
  }
}
#partners ul .logos {
  display: none;
}
@media (min-width: 1024px) {
  #partners ul .logos {
    display: inline;
  }
}
#partners ul #fixsize img {
  width: 235px;
  height: 100px;
}

#season2021 > div #calendar {
  background-color: #1A171B;
  color: white;
  display: none;
}
@media (min-width: 1024px) {
  #season2021 > div #calendar {
    display: grid;
  }
}
#season2021 > div #calendar h1 {
  text-align: center;
  border: orangered 1px solid;
  font-family: sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}
#season2021 > div #calendar ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "1 2 3 4 5 6 7 " "1 2 3 4 5 6 7 " "1 2 3 4 5 6 7 " "1 2 3 4 5 6 7 " "1 2 3 4 5 6 7 ";
  grid-template-rows: 5;
}
#season2021 > div #season h1 {
  display: inline;
  text-align: left;
  font-family: sans-serif;
}
#season2021 > div #season #input {
  display: flex;
}
@media (min-width: 768px) {
  #season2021 > div #season #input {
    display: none;
  }
}
#season2021 > div #season #psdvm {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #season #psdvm {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
  }
  #season2021 > div #season #psdvm button {
    color: #E64415;
    border: 1px solid #E64415;
    background-color: transparent;
    border-radius: 6px;
    height: 35px;
    width: 109px;
  }
}
@media (min-width: 768px) {
  #season2021 > div #images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: " image1 image2 image3 " "bigimg bigimg bigimg";
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  #season2021 > div #images {
    grid-template-areas: " image1 image2 image3 ";
  }
}
#season2021 > div #images img {
  width: 100%;
}
@media (min-width: 768px) {
  #season2021 > div #images #img1 {
    grid-area: image1;
  }
}
#season2021 > div #images #img2 {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #images #img2 {
    display: list-item;
    grid-area: image2;
  }
}
#season2021 > div #images #img3 {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #images #img3 {
    display: list-item;
    grid-area: image3;
  }
}
#season2021 > div #images #bigimg {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #images #bigimg {
    display: list-item;
    grid-area: bigimg;
  }
}
#tickets {
  background-color: #1A171B;
}
#tickets aside ul {
  gap: 28px;
}
#tickets aside ul button {
  border: 3px solid #E64415;
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  background-color: transparent;
  height: 54px;
  width: 170px;
  margin: 14px 0;
}
#whoweare {
  display: grid;
  grid-template-columns: 24px auto 24px;
  grid-template-areas: ". who .";
}
@media (min-width: 768px) {
  #whoweare {
    grid-template-columns: 91px auto 91px;
  }
}
@media (min-width: 1024px) {
  #whoweare {
    grid-template-columns: 242px auto 242px;
  }
}
@media (min-width: 1200px) {
  #whoweare {
    grid-template-columns: 292px auto 292px;
  }
}
#whoweare > div {
  grid-area: who;
}
#whoweare h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  #whoweare h1 {
    margin-top: 98px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  #whoweare h1 {
    margin-top: 112px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  #whoweare h1 {
    margin-top: 48px;
  }
}
#whoweare article {
  display: grid;
  grid-template-areas: " pt1 pt1" "pt2 pt2";
  grid-template-columns: repeat(2 1fr);
  color: #E64415;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 29px;
}
@media (min-width: 1200px) {
  #whoweare article {
    grid-template-areas: " pt1 pt2";
    gap: 40px;
  }
}
#whoweare article #pt1 {
  grid-area: pt1;
}
#whoweare article #pt2 {
  display: none;
}
@media (min-width: 768px) {
  #whoweare article #pt2 {
    display: block;
    grid-area: pt2;
  }
}
#whoweare button {
  display: flex;
  margin-left: auto;
  color: white;
  background-color: #E64415;
  border-radius: 0;
  border: none;
  font-family: sans-serif;
  font-size: 1.1875rem;
  padding: 10px 22px;
}
