/* =============
    Mixins
============= */
/* ---------------- Font Sizing ---------------- */
html {
  font-size: 100%;
}

/* ---------------- Media Queries ---------------- */
/* =============
    Variables
============= */
body {
  margin: 0;
  padding: 0;
}
body header {
  margin: 0;
  padding: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body ul h1, body ul h2, body ul h3, body ul h4, body ul h5, body ul h6 {
  margin: 0;
  padding: 0;
}
body ul p {
  margin: 0;
  padding: 0;
}
body .title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}
@media (min-width: 768px) {
  body .title {
    font-size: 2.1875rem;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-weight: 300;
}

.orangebutton {
  color: white;
  background-color: #E64415;
  border-radius: 0;
  border: none;
  font-family: sans-serif;
  font-size: 1.1875rem;
  padding: 10px 22px;
  cursor: pointer;
}

.clalendar-button {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: transparent;
  color: #E64415;
  border: 4px solid #E64415;
  font-family: sans-serif;
  font-size: 2.1875rem;
  font-weight: 900;
  cursor: pointer;
}

.clalendar-button1 {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: transparent;
  color: #9C9E9F;
  border: 4px solid #9C9E9F;
  font-family: sans-serif;
  font-size: 2.1875rem;
  font-weight: 900;
  cursor: pointer;
}

#nav-container {
  margin: 0;
}
#nav-container ul {
  height: 100%;
}
@media (min-width: 1024px) {
  #nav-container ul {
    display: flex;
    justify-content: flex-end;
  }
}
#nav-container ul li {
  margin-bottom: 20px;
  text-align: right;
}
@media (min-width: 1024px) {
  #nav-container ul li {
    align-items: center;
    display: flex;
    margin-bottom: 0px;
  }
}
#nav-container ul li a:link,
#nav-container ul li a:visited {
  color: #1A171B;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.25s;
  border-bottom: 4px solid #E64415;
  margin: 0 10px;
}
#nav-container ul li a:link:hover, #nav-container ul li a:link:active,
#nav-container ul li a:visited:hover,
#nav-container ul li a:visited:active {
  color: white;
  background-color: #E64415;
}
#nav-container ul li:last-child {
  border: none;
}

header {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 76px;
}
@media (min-width: 768px) {
  header {
    height: 126px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 175px;
  }
}
@media (min-width: 1200px) {
  header {
    height: 187px;
  }
}
header > div {
  display: grid;
  grid-template-areas: "logo burger" "nav nav";
  grid-template-columns: 20% auto;
}
@media (min-width: 1024px) {
  header > div {
    grid-template-areas: "logo nav";
    grid-template-columns: 20% auto;
  }
}
header > div #logo-container {
  grid-area: logo;
  padding: 10px;
  cursor: pointer;
}
header > div #logo-container a:link, header > div #logo-container a:visited {
  transition: 0.25s;
}
header > div #burger-container {
  align-items: center;
  display: flex;
  grid-area: burger;
  padding: 10px;
}
@media (min-width: 1024px) {
  header > div #burger-container {
    display: none !important;
  }
}
header > div #burger-container i {
  margin-left: auto;
  cursor: pointer;
  font-size: 1.875rem;
}
header > div #nav-container {
  display: none;
  grid-area: nav;
  padding: 20px 10px 10px;
}
@media (min-width: 1024px) {
  header > div #nav-container {
    display: block !important;
  }
}

footer {
  padding: 0 8px;
  background-color: #D8D8D8;
}
@media (min-width: 768px) {
  footer {
    padding: 0 24px;
  }
}
@media (min-width: 1024px) {
  footer {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 0 56px;
  }
}
footer > div {
  display: flex;
  justify-content: space-between;
}
footer aside img {
  margin-top: 12px;
  width: 164px;
}
@media (min-width: 768px) {
  footer aside img {
    width: 260px;
  }
}
@media (min-width: 768px) {
  footer aside img {
    width: 309px;
    margin-top: 26px;
  }
}
footer article ul {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
footer article ul li {
  margin-top: 12px;
}
@media (min-width: 768px) {
  footer article ul li {
    margin-top: 26px;
  }
}
footer article ul li a:link,
footer article ul li a:visited {
  color: #1A171B;
  font-size: 1.5625rem;
}
footer article ul li a:link:hover, footer article ul li a:link:active,
footer article ul li a:visited:hover,
footer article ul li a:visited:active {
  color: #E64415;
}
footer article div p {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  margin: 5px 0;
}
footer article div address {
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  font-style: normal;
}
@media (min-width: 768px) {
  footer article div address {
    margin-top: 32px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1024px) {
  footer article div address {
    margin-bottom: 33px;
  }
}
footer article div a:link,
footer article div a:visited {
  color: #1A171B;
  font-size: 1rem;
  text-decoration: none;
}
footer article div a:link:hover, footer article div a:link:active,
footer article div a:visited:hover,
footer article div a:visited:active {
  color: #E64415;
}

#hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/images/hero.jpg");
  height: 132px;
  width: 100%;
}
@media (min-width: 768px) {
  #hero {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  #hero {
    height: 423px;
  }
}
@media (min-width: 1200px) {
  #hero {
    height: 595px;
  }
}
#hero > div {
  display: none;
}
@media (min-width: 768px) {
  #hero > div {
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
    background-color: rgba(230, 68, 21, 0.8);
    color: #fff;
    padding: 20px;
    width: 558px;
    line-height: 41px;
    padding: 20px 76px;
  }
}
@media (min-width: 1024px) {
  #hero > div {
    width: 710px;
    padding: 64px 48px;
  }
}
@media (min-width: 1200px) {
  #hero > div {
    padding: 98px 170px;
  }
}
#hero p {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 1.5625rem;
}
@media (min-width: 1024px) {
  #hero p {
    font-size: 1.875rem;
  }
}

#hero2 {
  display: flex;
  justify-content: center;
}
#hero2 div {
  background-color: rgba(230, 68, 21, 0.8);
  color: white;
  padding: 20px;
  width: 272px;
  margin-top: -80px;
}
@media (min-width: 768px) {
  #hero2 div {
    display: none;
  }
}
#hero2 div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5625rem;
}

#search {
  background-color: #D8D8D8;
  margin-top: 76px;
  width: 100%;
}
@media (min-width: 768px) {
  #search {
    margin-top: 126px;
  }
}
@media (min-width: 1024px) {
  #search {
    margin-top: 175px;
  }
}
@media (min-width: 1200px) {
  #search {
    margin-top: 187px;
  }
}
#search > div {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". header .";
  grid-area: header;
  display: flex;
  height: 7vh;
}
#search > div section {
  margin-left: auto;
  display: flex;
  align-items: center;
}
#search > div section button {
  border: none;
  color: #1A171B;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: #D8D8D8;
}
#search > div section button:hover {
  color: #E64415;
  cursor: pointer;
}
#search > div section #fr {
  border-right: 1px solid #1A171B;
  cursor: pointer;
}
#search > div section #fr button:hover {
  color: #E64415;
  cursor: pointer;
}
#search > div section #mg {
  display: none;
}
@media (min-width: 768px) {
  #search > div section #mg {
    cursor: pointer;
    display: block;
    color: #1A171B;
  }
  #search > div section #mg button:hover {
    color: #E64415;
    cursor: pointer;
  }
}

#howtogethere article {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-areas: " map  map" " p1 p1 " " p2 p2 " " p3 p4 " " p5 p5 " " p6 .";
  gap: 20px;
}
@media (min-width: 768px) {
  #howtogethere article {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  #howtogethere article {
    grid-template-areas: " p1 p3 " " p2 p4 " "p5 ." "p6 ." "map map";
  }
}
@media (min-width: 1024px) {
  #howtogethere article {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: " p1 p3  map map" " p2 p4  map map" "p5 p6 map map";
  }
}
#howtogethere article #p1 {
  grid-area: p1;
}
#howtogethere article #p2 {
  grid-area: p2;
}
#howtogethere article #p3 {
  grid-area: p3;
}
#howtogethere article #p4 {
  grid-area: p4;
}
#howtogethere article #p5 {
  grid-area: p5;
}
#howtogethere article #p5 p {
  text-decoration: none;
}
#howtogethere article button {
  grid-area: p6;
}
#howtogethere article a {
  grid-area: map;
}
#howtogethere article a img {
  display: block;
  object-fit: cover;
  width: 100%;
}

#partners {
  margin: 88px 0 32px 24px;
}
@media (min-width: 768px) {
  #partners {
    margin: 128px 0 56px 80px;
  }
}
#partners h1 {
  margin-bottom: 40px;
}
#partners ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  #partners ul {
    display: inline-block;
  }
}
#partners ul .arrows a:link,
#partners ul .arrows a:visited {
  color: #E64415;
  font-size: 1.875rem;
  text-decoration: none;
}
#partners ul .arrows a:link:hover, #partners ul .arrows a:link:active,
#partners ul .arrows a:visited:hover,
#partners ul .arrows a:visited:active {
  color: #1A171B;
}
@media (min-width: 768px) {
  #partners ul .arrows {
    display: none;
  }
}
#partners ul #main {
  display: flex;
  justify-content: center;
}
#partners ul #main img {
  width: 235px;
  height: 100px;
}
@media (min-width: 768px) {
  #partners ul #main {
    display: none;
  }
}
#partners ul .main-2 {
  display: none;
}
@media (min-width: 768px) {
  #partners ul .main-2 {
    display: inline;
  }
}
#partners ul .logos {
  display: none;
}
@media (min-width: 1024px) {
  #partners ul .logos {
    display: inline;
  }
}
#partners ul #fixsize img {
  width: 235px;
  height: 100px;
}

#season2021 > div #calendar {
  background-color: #1A171B;
  color: white;
  display: none;
}
#season2021 > div #calendar button:hover {
  background-color: #E64415;
  color: #1A171B;
}
@media (min-width: 1024px) {
  #season2021 > div #calendar {
    display: block;
    padding: 32px 190px;
  }
}
#season2021 > div #calendar h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 72px;
}
#season2021 > div #calendar .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  row-gap: 28px;
  column-gap: 35px;
}
@media (min-width: 1200px) {
  #season2021 > div #calendar .calendar-grid {
    row-gap: 35px;
    column-gap: 42px;
  }
}
#season2021 > div #calendar .weekdays {
  display: grid;
  row-gap: 28px;
  column-gap: 35px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: 200;
  font-size: 1.875rem;
  color: white;
  margin-bottom: 28px;
}
#season2021 > div #season {
  background-color: #1A171B;
}
@media (min-width: 1024px) {
  #season2021 > div #season {
    background-color: white;
  }
}
#season2021 > div #season #button {
  display: flex;
  justify-content: center;
}
#season2021 > div #season h1 {
  display: inline;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
@media (min-width: 1024px) {
  #season2021 > div #season h1 {
    color: #1A171B;
  }
}
@media (min-width: 1024px) {
  #season2021 > div #season #title_ {
    display: flex;
    justify-content: space-between;
  }
}
#season2021 > div #season #input {
  display: flex;
  align-items: center;
}
#season2021 > div #season #input input {
  border-radius: 4px;
  height: 30px;
  border: 3px solid #E64415;
}
#season2021 > div #season #input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E64415;
  /* Firefox */
  opacity: 1;
}
#season2021 > div #season #input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #E64415;
}
#season2021 > div #season #input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #E64415;
}
#season2021 > div #season #input button {
  background-color: transparent;
  color: #E64415;
  border: 3px solid #E64415;
  font-size: 1.875rem;
  margin-left: -31px;
  padding-left: 0;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  border-right: none;
}
@media (min-width: 768px) {
  #season2021 > div #season #input {
    display: none;
  }
}
#season2021 > div #season #psdvm {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #season #psdvm {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
  }
  #season2021 > div #season #psdvm button {
    color: #E64415;
    border: 1px solid #E64415;
    background-color: transparent;
    border-radius: 6px;
    height: 35px;
    width: 109px;
    cursor: pointer;
  }
  #season2021 > div #season #psdvm button:hover {
    background-color: #E64415;
    color: white;
  }
}
#season2021 > div #images ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: " a1 image1 a2";
}
#season2021 > div #images ul .arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
#season2021 > div #images ul .arrows a:link,
#season2021 > div #images ul .arrows a:visited {
  color: #E64415;
  font-size: 1.875rem;
  text-decoration: none;
}
#season2021 > div #images ul .arrows a:link:hover, #season2021 > div #images ul .arrows a:link:active,
#season2021 > div #images ul .arrows a:visited:hover,
#season2021 > div #images ul .arrows a:visited:active {
  color: white;
}
@media (min-width: 768px) {
  #season2021 > div #images ul .arrows {
    display: none;
  }
}
@media (min-width: 1024px) {
  #season2021 > div #images ul .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #season2021 > div #images ul .arrows a:link,
#season2021 > div #images ul .arrows a:visited {
    color: #E64415;
    font-size: 1.875rem;
    text-decoration: none;
  }
  #season2021 > div #images ul .arrows a:link:hover, #season2021 > div #images ul .arrows a:link:active,
#season2021 > div #images ul .arrows a:visited:hover,
#season2021 > div #images ul .arrows a:visited:active {
    color: #1A171B;
  }
  #season2021 > div #images ul .arrows #a1 {
    grid-area: a1;
  }
  #season2021 > div #images ul .arrows #a2 {
    grid-area: a2;
  }
}
@media (min-width: 768px) {
  #season2021 > div #images ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: " image1 image2 image3 " "bigimg bigimg bigimg";
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  #season2021 > div #images ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "a1 image1 image2 image3 a2";
  }
}
#season2021 > div #images ul #img1 {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #images ul #img1 {
    display: block;
    grid-area: image1;
    background-image: url("../img/images/image4.jpg");
    background-position: center;
    background-size: cover;
    height: 148px;
  }
}
#season2021 > div #images ul #img2 {
  background-image: url("../img/images/image2.jpg");
  background-position: center;
  background-size: cover;
  height: 160px;
}
@media (min-width: 768px) {
  #season2021 > div #images ul #img2 {
    grid-area: image2;
    height: 148px;
  }
}
#season2021 > div #images #img3 {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #images #img3 {
    display: list-item;
    grid-area: image3;
    background-image: url("../img/images/image3.jpg");
    background-position: center;
    background-size: cover;
    height: 148px;
  }
}
#season2021 > div #images #bigimg {
  display: none;
}
@media (min-width: 768px) {
  #season2021 > div #images #bigimg {
    display: list-item;
    grid-area: bigimg;
    background-image: url("../img/images/image1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 258px;
  }
}
#tickets {
  background-color: #1A171B;
}
#tickets h1 {
  color: #E64415;
  padding: 24px;
}
#tickets article {
  display: none;
}
@media (min-width: 768px) {
  #tickets article {
    display: block;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 1.1875rem;
  }
}
@media (min-width: 1024px) {
  #tickets article {
    font-size: 1.75rem;
  }
}
#tickets aside {
  margin-bottom: 40px;
  text-align: center;
}
#tickets aside ul {
  gap: 28px;
}
#tickets aside ul button {
  border: 3px solid #E64415;
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  background-color: transparent;
  height: 54px;
  width: 170px;
  margin: 14px 0;
  cursor: pointer;
}
#tickets aside ul button:hover {
  background-color: #E64415;
}
@media (min-width: 768px) {
  #tickets aside ul {
    display: none;
  }
}
#tickets section {
  display: none;
}
@media (min-width: 768px) {
  #tickets section {
    display: block;
  }
}

#whoweare {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 24px auto 24px;
  grid-template-areas: ". who .";
}
@media (min-width: 768px) {
  #whoweare {
    grid-template-columns: 91px auto 91px;
    margin-bottom: 98px;
  }
}
@media (min-width: 1024px) {
  #whoweare {
    grid-template-columns: 242px auto 242px;
    margin-bottom: 112px;
  }
}
@media (min-width: 1200px) {
  #whoweare {
    grid-template-columns: 292px auto 292px;
    margin-bottom: 128px;
  }
}
#whoweare > div {
  grid-area: who;
}
#whoweare h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  #whoweare h1 {
    margin-top: 98px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  #whoweare h1 {
    margin-top: 112px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  #whoweare h1 {
    margin-top: 48px;
  }
}
#whoweare article {
  display: grid;
  grid-template-areas: " pt1 pt1" "pt2 pt2";
  grid-template-columns: repeat(2 1fr);
  color: #E64415;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 29px;
}
@media (min-width: 1200px) {
  #whoweare article {
    grid-template-areas: " pt1 pt2";
    gap: 40px;
  }
}
#whoweare article #pt1 {
  text-align: justify;
  text-justify: inter-word;
  grid-area: pt1;
}
#whoweare article #pt2 {
  text-align: justify;
  text-justify: inter-word;
  display: none;
}
@media (min-width: 768px) {
  #whoweare article #pt2 {
    display: block;
    grid-area: pt2;
  }
}
#whoweare button {
  display: flex;
  margin-left: auto;
  margin-top: 12px;
  color: white;
  background-color: #E64415;
  border-radius: 0;
  border: none;
  font-family: sans-serif;
  font-size: 1.1875rem;
  padding: 10px 22px;
}
@media (min-width: 768px) {
  #whoweare button {
    margin-top: 32px;
  }
}
