#hero2{
    display: flex;
    justify-content: center;
    // border: solid red;
    // display: grid;
    // grid-template-columns: 24px auto 24px;
    
    // grid-template-areas: ". text .";
    div{
        // border: solid red;
        // grid-area: text;;
     
        background-color: $aperol-transparent;
        color: white;
        padding: 20px;
        width: 272px;
        margin-top: -80px;
        
       
       
            
            @include md{
                display: none;
              
            }

         
           

           
            p{
                font-family: 'Montserrat', sans-serif;
                font-weight: 900;
                font-size: rem-calc(25);
             
            }

            
        }
       
    }
