#hero2 {
	display: flex;
	justify-content: center;
	div {
		background-color: $aperol-transparent;
		color: white;
		margin-top: -80px;
		padding: 20px;
		width: 272px;
		@include md {
			display: none;
		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-size: rem-calc(25);
			font-weight: 900;
		}
	}
}
