#hero {
height: 70vh;
    background-size: cover;
        background-position: center;
        background-image: url("../img/images/hero.jpg");
        // height: 132px;
        width:100%;
        // margin-top: 0;
        
        // align-items: center;


        @include md {
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include lg {
            height: 100vh;
        }

        @include xl {
            // height: 595px;
        }

        >div {
            display: none;
            @include md{
                display: inline-block;
                background-color: $aperol-transparent ;
                color: $white;
                padding: 20px;
                width: 558px;
                // height: 250px;
                text-align: center;
               text-justify: distribute;
               line-height: 41px;
                
            }
            @include lg {

            }

            // background-color: $aperol-transparent ;
            // color: $white;
            // padding: 20px;
            // width: 40vw;
           

           
            

            
        }
        p{
            font-family: Montserrat;
            font-weight: 900;
            font-size: rem-calc(25);
            @include lg{
                font-size: rem-calc(30);

            }
        }
    //     #mobile{
    //         display: flex;
    //         justify-items: center;
           
    //         margin-top: 100px;
            
    //         font-family: Montserrat;
    //         font-weight: 900;
    //         font-size: rem-calc(25);
    //         background-color: $aperol-transparent ;
    //             color: $white;
    //             padding: 20px;
    //             width: 40vw;
    //         @include md{
    //           display: none;

    //     }
    // }
}

    // section {
        //        div{ 



        // }

        // #covid {
        //     display: grid;
        //     grid-template-columns: 24px auto 24px;
        //     grid-template-areas: ".hero.";
        //     grid-area: hero;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

        //     p {
        //         border: orangered solid 1px;

        //         height: 219px;

        //         @include md {
        //             height: 217px;
        //         }

        //         @include lg {
        //             height: 250px;
        //         }

        //         @include xl {
        //             height: 348px;
        //         }

        //         width: 80%;
        //         text-align: center;



        //     }


        // }

    // }


