#hero {
	background-image: url("../img/images/hero.jpg");
	background-position: center;
	background-size: cover;
	height: 132px;
	width: 100%;
	@include md {
		align-items: center;
		display: flex;
		height: 320px;
		justify-content: center;
	}
	@include lg {
		height: 423px;
	}
	@include xl {
		height: 595px;
	}
	>div {
		display: none;
		@include md {
			background-color: $aperol-transparent;
			color: $white;
			display: inline-block;
			line-height: 41px;
			padding: 20px 76px;
			text-align: justify;
			text-justify: inter-word;
			width: 558px;
		}
		@include lg {
			padding: 64px 48px;
			width: 710px;
		}
		@include xl {
			padding: 98px 170px;
		}
	}
	p {
		font-family: Montserrat;
		font-size: rem-calc(25);
		font-weight: 900;
		@include lg {
			font-size: rem-calc(30);
		}
	}
}
