// #howtogethere{

#howtogethere{
  margin:80px 0px;
  @include md {
    margin:98px 0px;
    
      
    

  }
  @include lg {
    margin:112px 40px;
    
    

  }
  @include xl {
    margin:128px 26px;

  }
    h1{
      margin:0 24px;
      margin-bottom: 28px;
      @include md {
        margin: 0 80px;
        margin-bottom: 32px;
      }
      @include lg {
        margin: 0 40px;
        margin-bottom: 48px;
      }
      @include xl {
        margin: 0 250px;
        margin-bottom: 48px;
      }
    }
    article{
      div{
        margin:0 24px;
      @include md {
        margin: 0 80px;
      }
      @include lg {
        margin: 0 40px;
      }
      @include xl {
        margin-left: 250px;
      margin: 0 0 0;}
      }
        // grid-area: how;
                font-family: 'Montserrat', sans-serif;
                font-size: rem-calc(14);
                font-weight: 200;
                @include md {
                    font-size: rem-calc(20);
                }
        
      display:grid;
      grid-template-columns: 50% auto ;
      grid-template-areas:
        " map  map"
        " p1  p1 "
        " p2 p2 "
        " p3 p4 "
        " p5 p5 "
        " p6 .";
        gap: 10px;
        @include md{
            grid-template-areas: " p1 p3 "
            " p2 p4 "
            "p5 ."
            "p6 ."
            "map map";
        }
        @include lg{
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: " p1 p3  map map"
            " p2 p4  map map"
            "p5 p6 map map";

      
        }
      #p1{
        
        grid-area:p1;
       
      }
      #p2{
        grid-area:p2;
      }
      #p3{
        grid-area:p3;
      }
      #p4{
        grid-area:p4;
      }
      #p5{
        grid-area:p5;
        p{
            text-decoration: none;
        }
      }
      button{
        grid-area:p6;
       
        
      }
      button:hover{
        color: $onyx;
      }
      a{
        grid-area:map;
        img{
            display: block;
        object-fit: cover;
        width: 100%;
        margin: 0;
        }
      }
    }
  }

