#howtogethere{
    >div{
       
    }
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: ". how .";
    h1{
        grid-area: how;
        font: Roboto+Condensed;
        font-weight: 900;
        color: $onyx;
        text-align: left;


    }
    article{

        grid-area: how;
        font-family: 'Montserrat', sans-serif;
        font-size: rem-calc(14);
        font-weight: 200;
        @include md {
            font-size: rem-calc(20);

        }

    }
    aside{
       cursor: pointer;
    }
}