//Nav//

#search {
	background-color: $header;
	margin-top: 76px;
	width: 100%;
	@include md {
		margin-top: 126px;
	}
	@include lg {
		margin-top: 175px;
	}
	@include xl {
		margin-top: 187px;
	}
	>div {
		display: flex;
		grid-area: header;
		grid-template-areas: ". header .";
		grid-template-columns: 20px auto 20px;
		height: 7vh;
		section {
			align-items: center;
			display: flex;
			margin-left: auto;
			button {
				background-color: $header;
				border: none;
				color: $onyx;
				font-family: 'Montserrat', sans-serif;
				font-size: 20px;
				font-weight: 200;
			}
			button:hover {
				color: $aperol;
				cursor: pointer;
			}
			#fr {
				border-right: 1px solid $onyx;
				cursor: pointer;
				button:hover {
					color: $aperol;
					cursor: pointer;
				}
			}
			#mg {
				display: none;
				@include md {
					color: $onyx;
					cursor: pointer;
					display: block;
					button:hover {
						color: $aperol;
						cursor: pointer;
					}
				}
			}
		}
	}
}
