// Partners//
#partners {
	margin: 88px 24px;
    @include md {
		margin: 98px  56px ;
	}
    @include xl{
        margin:128px 220px;
    }
	
	h1 {
		margin-bottom: 40px;
        @include md{
            margin-left:80px;


        }
        @include lg{
            margin-left:42px;


        }
        @include xl{
            margin-left:252px;


        }
    
        
	}
	ul {
		align-items: center;
		display: flex;
		justify-content: center;
		@include lg {
			display: inline-block;

		}
        
        }
		li {
           
		}
		.arrows {
			a:link,
            a:visited {
				color: $aperol;
				font-size: rem-calc(30);
				text-decoration: none;
				&:hover,
                &:active {
					color: $onyx;
				}
			}
			
			@include lg {
				display: none;
			}
		}
		#main {
			display: flex;
			justify-content: center;
			img {
				height: 100px;
				width: 235px;
			}
			@include md {
				display: none;
			}
		}
		.main-2 {
			display: none;
			@include md {
				display: inline;
			}
		}
		.logos {
			display: none;
			@include lg {
				display: inline;
			}
		}
		#fixsize {
			img {
				height: 100px;
				width: 235px;
			}
		}
	}

