// Partners//
#partners{
    margin: 88px 0 32px 24px;
    @include md {
        margin: 128px 0 56px 80px;

    }

   
    h1{
        margin-bottom: 40px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            display: inline-block;
        }
        li{
            
          

       
       

    }
    .arrows{
        a:link,
        a:visited {
            color: $aperol;
            font-size: rem-calc(30);
            text-decoration: none;

            &:hover,
            &:active {
                color: $onyx;
            }
        }
        @include md{
            display: none;
        }
    }
       
        #main{
            display: flex;
            justify-content: center;
            img{
                width: 235px;
                height:100px;
           
              
            }
            @include md{ 
                display: none;
            }

        }
        .main-2{

            display:none;
            @include md{
                display: inline;

            }
           

        }
        .logos{
            display:none;
            @include lg{
                display:inline;

            }
        }
        #fixsize{
            img{

         width: 235px;
             height:100px;
         }

         }
    }
}