// Season 2021//

#season2021{
    

    >div{
        display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". season .";


    #calendar{
        display: none;
        @include lg{
            display: block;

        }
        h1{
            display:flex;
            justify-content: center;
            align-content: center;
            border: orangered 1px solid;
        }

    }
    #season{
        h1{
            display: inline;
            text-align: left;
            font-family: sans-serif;
            font-weight: 700;
            color: red;
            font-size: rem-calc(28);
        }

        #input{
            display: inline;
            

            @include md{
                display:none;
             }
        }
        button{
            display:inline;
        }
        #psdvm{
            display: none;
        
        @include md{ 
            

                list-style: none;
            display: grid;

            grid-template-columns: repeat(5 1fr);
            grid-template-areas: 
            "p s d v m";
            
            }
            // display: grid;

            // grid-template-columns: repeat(5 1fr);
            // grid-template-areas: " title title ..."
            // "p s d v m";
            
             
             @include lg {
                grid-template-columns: repeat(7 1fr);
            grid-template-areas: " title title p s d v m"
            ;

             }
             #p{
                grid-area: p;
            }
            #s{
                grid-area: s;
            }
            #d{
                grid-area: d;
            }
            #v{
                grid-area: v;
            }
            #m{
                grid-area: m;
            }

        }
    }
       
       #images{
           display: flex;
           align-items: center;
           #image2{
               display: none;
           }
           #image3{
            display: none;
        }
        #bigimg{
            display: none;
        }
       }
    }
    
    }
