// Tickets

#tickets{
    background-color: $onyx;

    h1{
        color: $aperol;
        padding:24px;

    }

    article{
       
        display: none;
        @include md{
            display:block;
            color: white;
        font-family: Montserrat, sans-serif ;
        font-weight: 200;
        font-size: rem-calc(19);
        }
        @include lg{
            
            font-size: rem-calc(28);

        }
        
        @include xl{
            
            line-height: 52px;

        }

    }
    aside{
       
        margin-bottom: 40px;
        text-align: center;
        ul{
           
            gap: 28px;
            button{
                border: 3px solid $aperol;
                color: white;
                font-family: sans-serif;
                font-weight: 900;
                font-size: rem-calc(20);
                background-color: transparent;
                height: 54px;
                width: 170px;
                margin:14px 0;
                cursor: pointer;
                
                    

                    
                }
                button:hover {
                        
                    background-color: $aperol;
                }
                @include md{
                    display:none;
        
                }
                
            }
        }
       

    
    section{
        p{

        
        font-family: 'Montserrat', sans-serif;
        font-size: rem-calc(16);
        font-weight: 200;
        @include lg{
            font-size: rem-calc(19);
        

        }
        @include xl{
            font-size: rem-calc(20);
        

        }
    }
    h1{
        font-family: 'Roboto condensed', sans-serif;
        font-size: rem-calc(25);
        font-weight: 900;

    }
        display: none;
        @include md{ 
            display: grid;
            background-color: white;
           grid-template-columns: 50% auto;
           grid-template-areas: "t1 t1"
           "t2 t3"
           "t4 t4";

        }
        @include lg{
            grid-template-areas: "t1 t2"
           "t1 t3"
           "t4 t4";

        }
       #discount{
           grid-area: t1;

           }
           #member{
            grid-area: t2;
           }
           #group{
            grid-area: t3;
           }
           #exhibitions{
            grid-area: t4;
           }
       }

    }
