// Tickets

#tickets{
    background-color: $onyx;

    h1{
        color: $aperol;
        padding:24px;

    }

    article{
        display: none;
        @include md{
            display:block;
            color: white;
        font-family: Montserrat, sans-serif ;
        font-weight: 300;
        font-size: rem-calc(19);
        }
        @include lg{
            
            font-size: rem-calc(28);

        }
        

    }
    aside{
       
        margin-bottom: 40px;
        text-align: center;
        ul{
           
            gap: 28px;
            button{
                border: 3px solid $aperol;
                color: white;
                font-family: sans-serif;
                font-weight: 900;
                font-size: rem-calc(20);
                background-color: transparent;
                height: 54px;
                width: 170px;
                margin:14px 0;
                
            }
        }
        @include md{
            display:none;

        }

    }
    section{
        display: none;
        @include md{ 
            display: block;
        }

    }
}