//Header// 

header {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";


    >div {
        grid-area: header;
        display: flex;
        border: 1px solid red;
        width: 100%;
        // justify-content: space-between;

        aside {
            display:block;
            @include md {
                display: none;
            }
        }

        section {
            margin-left: auto;
            display: flex;
            align-items: center;

            button {
                margin-left: 20px;
            }

            #burger {
                display: block;

                @include md {
                    display: none;
                }
            }

            #mg {
                display: none;

                @include md {
                    display: block;
                }
            }

            #logo {
                display: block;

                @include md {
                    display: none;
                }
            }
        }


    }

}