.orangebutton{
    
    color: white;
    background-color: $aperol;
    border-radius: 0;
    border: none;
    font-family: sans-serif;
    font-size: rem-calc(19);
    padding: 10px 22px;
    cursor: pointer;
    button:hover{
        color: $onyx;
    }
}
.clalendar-button{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color:transparent;
    color: $aperol;
    border: 4px solid $aperol;
    font-family: sans-serif;
    font-size: rem-calc(35);
    font-weight:900 ;
    cursor: pointer;

}
.clalendar-button1{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color:transparent;
    color: $morning;
    border: 4px solid $morning;
    font-family: sans-serif;
    font-size: rem-calc(35);
    font-weight:900 ;
    cursor: pointer;
    


}
