
//Navigation//

// #nav-container {
   
    
//     ul {
        
        
       

//         @include lg {
//             display: flex;
//             justify-content: flex-end;
            
            
//         }

//         li {
//             margin-bottom: 20px;
//             // border: 1px solid red;
//             text-align: right;
           

//             @include lg {
//                 align-items: center;
//                 // border-right: 2px solid ;
//                 display: flex;
//                 margin-bottom: 0px;
//             }

//             a:link,
//             a:visited {
//                 // color: $white;
//                 color:$onyx;
//                 font-family: 'Roboto Condensed', sans-serif;
//                 font-size: 18;
//                 border-bottom: 4px solid $aperol;
                
               
//                 margin: 0 20px;
//                 text-decoration: none;
//                 transition: 0.25s;
//                 @include lg {
//                     // color: $black;
//                 }

//                 &:hover,
//                 &:active {
//                     // color: $yellow;
//                 }
//             }
//         }

//         // li:first-child {
//         //     border: none;
//         //     display: none;

//         //     @include md{
//         //         display: list-item;
//         //     }
//         // }

//         li:last-child {
//             border: none;
//         }
//     }
// }


#nav-container {
    margin: 0;
    @include xl {
        margin-right:147px;
    }
    ul {
        
        height: 100%;


        @include lg {
            display: flex;
            justify-content: flex-end;
        }

        li { 
           
            margin-bottom: 20px;
            // border: 1px solid red;
            text-align: right;

            @include lg {
                align-items: center;
                
                display: flex;
                margin-bottom: 0px;
            }

            a:link,
            a:visited {
                color: $onyx;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: rem-calc(18);
                padding: 0 10px;
                text-decoration: none;
                transition: 0.25s;
                border-bottom: 4px solid $aperol;
                margin: 0 10px;
                // @include lg {
                //     // color: $black;
                // }

                &:hover,
                &:active {
                    color: white;
                    background-color: $aperol;
                }
            }
        }

        // li:first-child {
        //     border: none;
        //     display: none;

        //     @include md{
        //         display: list-item;
        //     }
        // }

        li:last-child {
            border: none;
        }
    }
}